<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>APP_KEY</key>
	<string>4c09c98c9d696565a0c38f32</string>
	<key>CHANNEL</key>
	<string>d50892f79bc818ff91726049</string>
</dict>
</plist>
